body {
    font-family: 'Roboto', 'Gotham Pro', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    min-width: 768px;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.wrapper{
    position: absolute;
    padding-top: 124px;
    // border: 2px solid yellow;

}
header {
    display: block;
    background-color: rgba(212, 206, 206, 0.616);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.12);
    // border: 4px solid red;
    height: 123px;
}
.header__container {
    width: 1320px;
    margin-left: auto;
    // border: 2px solid blue;
    margin-right: auto;
    width: 1320px;
    height: 123px;
}
.header__container-inner {
    padding-left: 10px;
    padding-right: 10px;
    // border: 2px solid tomato;
    width: 1300px;
    height: 123px;
}
header .header__top {
    // border-bottom: 1px solid #e7e7e7;
    padding: 14px 0;
    // align-items: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    height: 44px;
    // border: 2px solid palevioletred;

}
.header__address {
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
    padding: 0;
    margin: 0; 
    }
    font-size: 12px;
    margin-left: 57px;
    // border: 1px solid orange;
}
.header__working-hours {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-left: 23px;
}
@media (max-width: 830px){
    .header__working-hours{
        display: none;
    } 
}
.header__phone-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin-left: 250px;
    padding-left: 25px;
}
@media (max-width: 1280px){
    .header__phone-number{
    margin-left: 100px;
    } 
}
@media (max-width: 1130px){
    .header__phone-number{
    margin-left: 50px;
    }
    .header__btn-callback{
        & .btn__callback{
        display: none;
        }
        display: none;
    }
}
@media (max-width: 588px){
    .header__phone-number{
        position: absolute;
        top: 80px;
        left: 40px;
    }
    .header__address{
        position: absolute;
        margin-left: 180px;
        font-size: 20px;
    }
    .header__logotype{
        position: absolute;
        right: 30px;
    }
}
.header__btn-callback {
    display: flex;
    width: 200px;
    border-radius: 10px;
    & .btn__callback{
    width: 100%;
    cursor: pointer;
    background: none;
    border-style: none;
    border-radius: 10px;
    border: 3px solid orange;
    &:hover{
        background: pink; 
        border: 3px solid rgb(252, 251, 250);
    }
    }
    margin-left: 63px;
}
.header__logotype {
    position: relative;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 50px;
    & a {
    color: tomato;
    font-size: 25px;
    font-weight: 700;
}
    // border: 1px solid #000;
    text-align: center;
}
