$fz: 16px;
body {
    font-family: 'Roboto', 'Gotham Pro', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: $fz;
    font-weight: 400;
    font-style: normal;
    min-width: 768px;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
    background:white;
}
p {
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.wrapper{ 
    position: absolute;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    
 header {
    display: block;
    background-color: rgb(196, 190, 190);
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
 }
 .header__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
 }
 .header__container-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
 }
 header .header__top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 14px 0;
 }
 .flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
 }
 .header__address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
 & p {
    padding: 0;
    margin: 0; 
    font-weight: 700;
    }
    font-size: $fz;
 }
 .header__working-hours {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    font-size: $fz;
    font-weight: 700;
 }

 .header__phone-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: $fz;
 & a{
    color: black; 
 }
 }

 .header__btn-callback, .footer__btn-callback {
    display: flex;
    width: 200px;
    border-radius: 10px;
    z-index: 99;
 & .btn__callback{
    font-weight: 700;
    color: purple;
    width: 100%;
    font-size: $fz;
    cursor: pointer;
    background: none;
    border-style: none;
    border-radius: 10px;
    border: 3px solid orange;
 &:hover{
    background: pink; 
    color: black;
    border: 3px solid rgb(252, 251, 250);
 }
 }
    
 }
 .header__logotype {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
 & a {
    color: rgb(89, 71, 255);
    font-size: 25px;
    font-weight: 700;
 }
    border: 3px solid rgb(216, 100, 23);
    border-radius: 15px;
    text-align: center;
 }
 .header__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 4px solid white;
    height: 100%;
 & .header__main-menu{
     width: 100%;

 & .header__menu-elem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
    list-style: none;  

 & li{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    }
 li:hover {
    cursor: pointer;
    color: red;
    }

    }
 }
 }

 .block-inner{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229, 236, 229);
    border: 3px solid red;
 & h2{
    margin-top: 15px;
    padding: 0;
 }
 .dialog__window{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: fixed;
   box-sizing: border-box;
   width: 20%;
   height: 50%;
   border: 3px solid red;
   background-color: rgb(138, 141, 138);
   border-radius: 10px;
   visibility: hidden;
 }


//  _____________медиа запросы диалогового окна______

@media (max-width: 280px){
   .dialog__window{ 
      width: 90%;
      height: 50%;
    }
   }
 @media (max-width: 320px){
   .dialog__window{ 
      width: 90%;
      height: 60%;
    }
   }
 @media (max-width: 360px){
   .dialog__window{ 
      width: 90%;
      height: 70%;
    }
   }
 @media (max-width: 411px){
   .dialog__window{ 
      width: 90%;
      height: 50%;
    }
   }
 @media (max-width: 414px){
   .dialog__window{ 
      width: 90%;
      height: 50%;
    }
   }
 @media (max-width: 540px){
   .dialog__window{
   & .input {
      margin: 10px 0;
      height: 25px;
   } 
      width: 70%;
      height: 50%;
    }
   }
 @media (max-width: 670px){ 
   .dialog__window{ 
      width: 70%;
      height: 30%;
      }    
   }
 @media (max-width: 768px){ 
   .dialog__window{ 
      width: 60%;
      height: 30%;
    }    
   }
 @media (max-width: 1024px){
   .dialog__window{ 
      width: 70%;
      height: 40%;
    }
   }


 .input {
    margin: 20px 0 ;
    width: 80%;
    height: 30px;
 }
 .input__submit {
   width: 80%;
   height: 30px;
   margin-top: 10px;
   margin-bottom: 15px;
   font-weight: 700;
    background: white; 
    color: purple;
    font-size: $fz;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid orange;
 &:hover{
    background: pink; 
    color: black;
    border: 3px solid rgb(252, 251, 250);
 }
 }
 .cancel{
   font-weight: 700;
    background: white; 
    color: purple;
    width: 50%;
    font-size: $fz;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid orange;
    margin-bottom: 10px;
 &:hover{
    background: pink; 
    color: black;
    border: 3px solid rgb(252, 251, 250);
 }
 }
  .block__price{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 80%;
    min-height: 900px;
    height: 100%;
    background-color: white;
  }
  .block__price-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
  }
  .item__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    min-height: 90px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(192, 188, 190);
    &:last-child{
    border-bottom: none;
    }
    & .title{
    max-width: 640px;
    padding-left: 10px;
    font-weight: 500;
    margin-bottom: 10px;
  }
    & .price {
    font-weight: 500;
    padding-right: 10px;
  }
  }
  .block__stock{
    display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   //  box-sizing: border-box;s
    width: 80%;
    height: 100%;
    padding: 10px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    border-top: 4px solid  rgb(192, 188, 190);
    border: 3px solid red;
  }
.stock__title{
   display: inline;
   
   flex-wrap: wrap;
   border: 3px solid red;

}
  .block__content-stock{
    display: flex;
   //  flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
   //  align-items: center;
    border: 3px solid rgb(160, 45, 112);
   //  height: 50%;
    box-sizing: content-box;
    & .block__content-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
   //  width: 100%;
   //  height: 100%;
    border: 3px solid rgb(56, 19, 41);
    & a {
      display: flex;
      flex-wrap: wrap;
    }
    & img {
      //  width: 100%;
      //  height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 3px solid rgb(9, 131, 49);

    &:hover{
    border-top: 3px solid steelblue;
    padding-top: 2px;
    }
    }
    }
  }
  
  .stock__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-top: 10px;
    &:hover{
    color: rgb(253, 6, 6);
    border-top: 1px solid rgb(253, 7, 7);
    
    }
  }
  .center-link {
     margin-top: 25px;
  }
 }
 
 .block__content{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    & ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    & li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 325px;
    height: 116px;
    margin-bottom: 16px;
    border: 3px solid rgba(126, 129, 126, 0.247);
    border-radius: 15px 0 15px 0;
    border-right: 3px solid steelblue;
    cursor: pointer;
    &:hover{
    border-left: 3px solid steelblue;
    border-radius: 0 15px 0 15px;
    }
    & img {
    width: 48px;
    height: 48px;
    opacity: 1;
    }
    & a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:700;
    margin-top: 15px;
    &:hover{
    color: tomato;
    }
   }
   }
  }
 }
 .footer__block-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    box-sizing: border-box;
    border-top: 4px solid  rgb(192, 188, 190);
    background-color: white;
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid red;

    & .footer__contacts{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      margin: 5px;
      justify-content: space-around;
      border: 2px solid rgb(76, 0, 255);
    
    & .footer__address, .footer__working-hours,
    .footer__phone-number {
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 10px;
      height: 90%;
      border: 2px solid rgb(0, 255, 42);
      
     }
   }
 }  
}

.footer__btn-diagnostics{
    display: flex;
    width: 400px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    & .btn__diagnostics{
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: purple;
    cursor: pointer;
    background: none;
    border-style: none;
    border-radius: 10px;
    border: 3px solid orange;
    &:hover{
        background: pink; 
        color: black;
        border: 3px solid rgb(17, 17, 17);
    }
    }
    
 }

// медиазапросы___________________________________________________

@media (max-width: 390px){
.stock__links{
   display: none;
   visibility: hidden
} 
}
